
@model ApplicationCore.Models.MovieCardResponseModel

<div class="card mb-2 shadow bg-light">

    <a>
        <img src="@Model.PosterUrl" class="img-fluid" alt="@Model.Title"/>
    </a>
</div>

<!--
Localhost/movies/details/3    
-->