@model List<ApplicationCore.Entities.Movie>

    <h2>Movies Count: @ViewBag.MoviesCount </h2>

@foreach (var movie in Model)
            {
    <li> movie.Id </li>
            }
            

            
