@using MovieProject.Views.Shared
@model List<ApplicationCore.Models.MovieCardResponseModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="rounded">
    <div class="container-fluid bg-light">
        <div class="row">
            @foreach (var movie in Model)
            {
                <div class="col-2">
                    <partial name="_MovieCard" model="movie"/>
                    <!--
                        other way
                         @await Html.PartialAsync("_MovieCard",movie)
                    -->
                   
                </div>
            }
        </div>
    </div>
</div>

<!--

    Partial Views ... shared folder, _movieCard
    
    HomeController => 
    Index action Method => 
    List<MovieCard> home page view(Index) foreach 
    => moviecard=> 
    moviecard

    purchased movies moviecard
    favorite movies
    movies by genre

-->
